<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap-5.1.3-dist/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/bootstrap-5.1.3-dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/echarts.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-3.1.1/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="/static/js/qrcode.min.js"></script>
    <script src="/static/js/socket.io.min.js" ></script>
    <link rel="stylesheet" href="/static/css/index1.css">
    <script type="text/javascript">

//声明全局变量
var old_row_script_html=""

var socket = io();
socket.on('responce_index_{{username}}',function(msg){
	if (msg.status == 0){
		alert_msg = "执行成功" + msg.opt + msg.object_name
		alert(alert_msg)
		if (msg.hide_id)
			document.getElementById(msg.hide_id).style.display="None"
	}
	else{
		alert_msg = "执行失败" + msg.opt + msg.object_name
		alert(alert_msg)
	}
});


socket.on('ei-index-{{username}}-alert-only',function(msg){
	alert(msg)
});



function del_script(script_id){
	alert("waiting"+script_id)
}

function modify_script_info_uncommit(script_id){
	var aa=document.getElementById(script_id)
	aa.innerHTML=old_row_script_html
	old_row_script_html=""
}

function modify_script_info_commit(script_id){
	var aa=document.getElementById(script_id)
	var row=$("#"+script_id).children()
	var script_id=row.children().val()
	var script_name=row.next().children().val()
	var script_object=row.next().next().children().val()
	var script_type=row.next().next().next().children().val()
	var script_path=row.next().next().next().next().children().val()
	var script_version=row.next().next().next().next().next().children().val()
	var script_describe=row.next().next().next().next().next().next().children().val()
	var script_des_dir=row.next().next().next().next().next().next().next().children().val()
	var script_md5=row.next().next().next().next().next().next().next().next().children().val()
	var script_status=row.next().next().next().next().next().next().next().next().next().children().val()

	data={"script_id":script_id, "script_name":script_name, "script_object":script_object,  "script_type":script_type,  "script_path":script_path,  "script_version":script_version, "script_describe":script_describe, "script_des_dir":script_des_dir,  "script_md5":script_md5, "script_status":script_status,  "evt_name":"ei-index-{{username}}-alert-only"}
	socket.emit("modify_script_info_commit",data) 
	alert("已发送")
	//aa.innerHTML=old_row_script_html
	document.getElementById("button_get_script_info").click()

}


function modify_script_online(script_id){
	//必须要把这个对象保存下来, 不然会报错 Uncaught TypeError: Cannot set properties of null (setting 'innerHTML')
	aa=document.getElementById(script_id)
	this_script_id=script_id

	old_row_script_html=document.getElementById(script_id).innerHTML
	var row=$("#"+script_id).children()
	var script_id=row.html()
	var script_name=row.next().html()
	var script_object=row.next().next().html()
	var script_type=row.next().next().next().html()
	var script_path=row.next().next().next().next().html()
	var script_version=row.next().next().next().next().next().html()
	var script_describe=row.next().next().next().next().next().next().html()
	var script_des_dir=row.next().next().next().next().next().next().next().html()
	var script_md5=row.next().next().next().next().next().next().next().next().html()
	var script_status=row.next().next().next().next().next().next().next().next().next().html()

	var new_row_html="<td><input disabled='disabled' type='text' value='"+script_id+"'></td> <td><input type='text' value='"+script_name+"'></td> <td><input type='text' value='"+script_object+"'></td> <td><input type='text' value='"+script_type+"'></td> <td><input type='text' value='"+script_path+"'></td> <td><input type='text' value='"+script_version+"'></td> <td><input type='text' value='"+script_describe+"'></td> <td><input type='text' value='"+script_des_dir+"'></td> <td><input type='text' value='"+script_md5+"'></td> <td><input type='number' value='"+script_status+"'></td> <td><button type='button' class='btn btn-info ' onclick=modify_script_info_commit('"+this_script_id+"')  >确认修改</button><button onclick=modify_script_info_uncommit('"+this_script_id+"') type='button' class='btn btn-secondary'>取消</button></td> "

	aa.innerHTML=new_row_html
	//$("#"+script_id).replaceWith(new_row_html)
	//$("#"+script_id).replaceWith("<h1>aaa</h1>")
	//alert(old_row_html)
}


socket.on('script_info_{{username}}',function(msg){
	document.getElementById("script_info").style.display="table"
	//document.getElementById("pack_info").style.display="none"
	$("#pack_info").hide()
	var table=$("script_info table tbody")
	var data=msg["data"]
	script_id="<td>"+data[0]+"</td>"
	script_name="<td>"+data[1]+"</td>"
	script_object="<td>"+data[2]+"</td>"
	script_type="<td>"+data[3]+"</td>"
	script_path="<td>"+data[4]+"</td>"
	script_version="<td>"+data[5]+"</td>"
	script_describe="<td>"+data[6]+"</td>"
	script_des_dir="<td>"+data[7]+"</td>"
	script_md5="<td>"+data[8]+"</td>"
	script_status="<td>"+data[9]+"</td>"
	row_id="script_id_"+data[0]+"flag"
	script_opt="<td><button type='button' class='btn btn-info modify_script_info' onclick=modify_script_online('" + row_id + "') >修改</button><button type='button' class='btn btn-danger' onclick=del_script("+data[0]+")>删除</button></td>"
	//script_opt="<td><button type='button' class='btn btn-info ' onclick=modify_script_online(this) >修改</button><button type='button' class='btn btn-danger' onclick=del_script("+data[0]+")>删除</button></td>"
	var html1 = "<tr id='" + row_id +"'>"+script_id+script_name+script_object+script_type+script_path+script_version+script_describe+script_des_dir+script_md5+script_status+script_opt+"</tr>"
	if ( msg["add"] == 0 ) {
		$("#script_info tbody").html(html1)
		}
	else if ( msg["add"] == 1  ){
		$("#script_info tbody:first").append(html1)
	}
});

socket.on('pack_info_{{username}}',function(msg){
	document.getElementById("pack_info").style.display="table"
	//document.getElementById("script_info").style.display="none"
	$("#script_info").hide() 
	if ( msg["add"] == 1 ){
		document.getElementById("pack_info").innerHTML+=msg["data"][4]
		}
	else{
		document.getElementById("pack_info").innerHTML=msg["data"][4]
	}
});

function get_script_info(){
	socket.emit('get_script_info',{"evt_name":"script_info_{{username}}"})
}

function get_pack_info(){
	socket.emit('get_pack_info',{"evt_name":"pack_info_{{username}}"})
}


function delete_task(task_name){
	socket.emit('delete_task',{"task_name":task_name,"evt_name":"responce_index_{{username}}"})
}

function ck(a){
    if(a==1){
        document.getElementById("qx").checked=true
        document.getElementById("qbx").checked=false
        for(var i=0;i<document.getElementsByName("del_instance").length;i++){
            document.getElementsByName("del_instance")[i].checked=true;
        }
    }
    else if(a==0){
        document.getElementById("qbx").checked=true;
        document.getElementById("qx").checked=false
        for(var i=0;i<document.getElementsByName("del_instance").length;i++){
            document.getElementsByName("del_instance")[i].checked=false;
        }
    }

}

function ck3(a){ 
    if(a==1){
        document.getElementById("qx3").checked=true
        document.getElementById("qbx3").checked=false
        for(var i=0;i<document.getElementsByName("del_instance_host").length;i++){
            document.getElementsByName("del_instance_host")[i].checked=true;
        }
    }
    else if(a==0){
        document.getElementById("qbx3").checked=true;
        document.getElementById("qx3").checked=false
        for(var i=0;i<document.getElementsByName("del_instance_host").length;i++){
            document.getElementsByName("del_instance_host")[i].checked=false;
        }
    }

}


function ckt(a){ 
    if(a==1){
        document.getElementById("qxt").checked=true
        document.getElementById("qbxt").checked=false
        for(var i=0;i<document.getElementsByName("del_task_1").length;i++){
            document.getElementsByName("del_task_1")[i].checked=true;
        }
    }
    else if(a==0){
        document.getElementById("qbxt").checked=true;
        document.getElementById("qxt").checked=false
        for(var i=0;i<document.getElementsByName("del_task_1").length;i++){
            document.getElementsByName("del_task_1")[i].checked=false;
        }
    }

}

        $(document).ready(function () {
            $("#qx").click(function () {
                $("[name='del_instance']").prop('checked',$(this).is(':checked'))
                $("#qbx").prop('checked',false)
            })
            $("#qbx").click(function () {
                $("[name='del_instance']").prop('checked',false)
                $("#qx").prop('checked',false)
            })
        })

        $(document).ready(function () {
            $("#qx3").click(function () {
                $("[name='del_instance_host']").prop('checked',$(this).is(':checked'))
                $("#qbx3").prop('checked',false)
            })
            $("#qbx3").click(function () {
                $("[name='del_instance_host']").prop('checked',false)
                $("#qx3").prop('checked',false)
            })
        })


        $(document).ready(function () {
            $("#qxt").click(function () {
                $("[name='del_task_1']").prop('checked',$(this).is(':checked'))
                $("#qbxt").prop('checked',false)
            })
            $("#qbxt").click(function () {
                $("[name='del_task_1']").prop('checked',false)
                $("#qxt").prop('checked',false)
            })
        })

    </script>
    <title>DDCW--{{username}}</title>
</head>
<body background="/static/img/bg4.jpg">

{% if message %}
<script type="text/javascript">
	alert({{message}})
</script>
{% endif %}
        
<div class="container mt-3" id="ei-index">
  <ul class="nav nav-pills bg-light" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-bs-toggle="pill" href="#home">首页</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="pill" href="#db1">数据库实例</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="pill" href="#host1">主机实例</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="pill" href="#app1">应用实例</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="pill" href="#tool1">工具</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="pill" href="#install1">部署/安装</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="pill" href="#task1">任务</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="pill" href="#set1">设置</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  href="/newterminal" target="view_window">SHELL终端</a>
    </li>
{% if username %}
	<li class="mt-3">
		<li><p>{{ username }}</p></li>
		<li><p>|</p></li>
		<li><a href="/logout">注销</a>
	</li>

{% else %}
	<li class="mt-3">
      		<li><a href="/register">注册</a>
		<li><p>|</p></li>
      		<li><a href="/login"> 登录</a>
	</li>
{% endif %}
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="home" class="container tab-pane active"><br>
	<div class="row">
	<div id="db-echart" class="col-md-6" style="width: 600px;height:400px;"></div>
	<div id="host-echart" class="col-md-6" style="width: 600px;height:400px;"></div>
	<div class="col-md-6 text-center"><p>数据库汇总信息</p></div>
	<div class="col-md-6 text-center"><p>主机汇总信息</p></div>
	<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('db-echart'));
        var myChart2 = echarts.init(document.getElementById('host-echart'));
 
        // 指定图表的配置项和数据
        var option = {
                series : [
                    {
                        name: '数据库汇总信息',
                        type: 'pie',
                        radius: '90%',
			color:['#7FFFD4', '#FFFF00', '#A52A2A', '#C0C0C0'],
                        data:[
                            {value:{{db_norm}}, name:'正常',url:'db?type=normal'},
                            {value:{{db_warn}}, name:'告警',url:'db?type=warn'},
                            {value:{{db_error}}, name:'异常',url:'db?type=error'},
                            {value:{{db_un}}, name:'未知',url:'db?type=unknown'}
                        ]
                    }
                ]
            };
	var option2 = {
                series : [
                    {
                        name: '主机汇总信息',
                        type: 'pie',
                        radius: '90%',
			color:['#7FFFD4', '#FFFF00', '#A52A2A', '#C0C0C0'],
                        data:[
                            {value:{{host_norm}}, name:'正常',url:'hosts?type=normal'},
                            {value:{{host_warn}}, name:'告警',url:'hosts?type=warn'},
                            {value:{{host_error}}, name:'异常',url:'hosts?type=error'},
                            {value:{{host_un}}, name:'未知',url:'hosts?type=unknown'}
                        ]
                    }
                ]
            };
 
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
	myChart.on('click', function(param) { var url = param.data.url; window.location.href = url;});
        myChart2.setOption(option2);
	myChart2.on('click', function(param) { var url = param.data.url; window.location.href = url;});
    </script>
	</div>
    </div>
    <div id="db1" class="container tab-pane fade"><br>
	<div><ul><li><h3>数据库实例</h3></li><li><a href="/static/add_mysql.html">添加数据库实例</a></li><li><a data-bs-toggle="modal" href="#deldb2">删除数据库实例</a></li></ul></div>
	<div class="row">
{% for db in db_list %}
	<div class="col-md-4 card bg-dark text-white" id="ei-db-{{db[6]}}" ><a  href="db/mysql?instance_name={{db[0]}}" class="text-white"><div class="card-body"><h6>{{ db[0] }}</h6><ul><li>实例类型: {{db[1]}}</li><li>实例版本: {{db[5]}}</li><li>IP地址: {{db[2]}}</li><li>端口: {{ db[3] }}</li><li><div>状态: 
	{% if db[4] == 0 %} 
		<p class="text-success" >RUNNING</p>
	{% elif db[4] == 1 %}
		<p class="text-warning" >WARNING</p>
	{% elif db[4] == 2 %}
		<p class="text-danger" >DOWN</p>
	{% else %}
		<p class="text-muted" >UNKNOWN</p>
	{% endif %}
	</div></li></ul></div></a></div>
{% else %}
无数据库实例
{% endfor %}
	</div>
    </div>

<div class="modal" id="deldb2">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">删除数据库实例</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
	        <div id="ck" align="left">
            <input type="checkbox" onclick="ck('true')" id="qx"><span onclick="ck(1)">全选</span>
            <input type="checkbox" onclick="ck('false')" id="qbx"><span onclick="ck(0)">全不选</span>
        </div>
         <form action = "/deldb" method = "post">
<p>请选择要删除的实例</p>
	{% for db_instacne_name in db_list %}
	<input type="checkbox" name="del_instance" value="{{db_instacne_name[0]}}">{{db_instacne_name[0]}}</br>
	{% else %}
	<p>无实例</>
	{% endfor %}
         <p><input type = "submit" value = "确认删除" /></p>
      </form>

      </div>

      <!-- 模态框底部 -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">关闭</button>
      </div>

    </div>
  </div>
</div>


    <div id="host1" class="container tab-pane fade"><br>
	<div><ul><li><h3>主机实例</h3></li><li><a href="/static/add_host.html">添加主机实例</a></li><li><a data-bs-toggle="modal"  href="#delhost">删除主机实例</a></li></ul></div>
      <div class="row"> 

{% for host in host_list %}
	<div class="col-md-4 card bg-dark text-white" id="ei-host-{{host[6]}}"  ><a  href="host?instance_name={{host[0]}}" class="text-white"><div class="card-body"><h6>{{host[0]}}</h6><ul><li>操作系统类型: {{host[1]}} {{host[2]}}</li><li>IP地址: {{host[3]}}</li><li>SSH端口: {{host[4]}}</li><li><div>状态:
	{% if host[5] == 0 %} 
		<p class="text-success" >RUNNING</p>
	{% elif host[5] == 1 %}
		<p class="text-warning" >WARNING</p>
	{% elif host[5] == 2 %}
		<p class="text-danger" >DOWN</p>
	{% else %}
		<p class="text-muted" >UNKNOWN</p>
	{% endif %}
	</div></li></ul></div></a></div>
{% else %}
	
	无主机实例
{% endfor %}

	</div>
    </div>

<div class="modal" id="delhost">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">删除数据库实例</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
                <div id="ck3" align="left">
            <input type="checkbox" onclick="ck3('true')" id="qx3"><span onclick="ck3(1)">全选</span>
            <input type="checkbox" onclick="ck3('false')" id="qbx3"><span onclick="ck3(0)">全不选</span>
        </div>
         <form action = "/delhost" method = "post">
<p>请选择要删除的主机实例(仅删除ei配置,并不是物理上删除主机)</p>
        {% for host_instacne_name in host_list %}
        <input type="checkbox" name="del_instance_host" value="{{host_instacne_name[0]}}">{{host_instacne_name[0]}}</br>
        {% else %}
        <p>无实例</>
        {% endfor %}
         <p><input type = "submit" value = "确认删除" /></p>
      </form>

      </div>

      <!-- 模态框底部 -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">关闭</button>
      </div>

    </div>
  </div>
</div>


    <div id="app1" class="container tab-pane fade"><br>
      <h3>应用实例</h3>
      <p>自个整</p>
    </div>

    <div id="tool1" class="container tab-pane fade"><br>
	</br>
      <h3>数据库类</h3>
	<div class="row"> 
		<div class="col-md-3 card bg-success  text-dark bg-opacity-50" style="margin:1px"><a href="#qr-code" class="text-white"><div class="card-body"><h4>数据库巡检</h4><p>仅支持巡检数据库实例列表里的数据空</p></div></a></div>
		<div class="col-md-3 card bg-success  text-dark bg-opacity-50" style="margin:1px"><a href="#qr-code" class="text-white"><div class="card-body"><h4>数据库压测</h4><p>使用sysbench压测数据库OLTP</p></div></a></div>
		<div class="col-md-3 card bg-success  text-dark bg-opacity-50" style="margin:1px"><a href="#qr-code" class="text-white"><div class="card-body"><h4>mysql一致性对比</h4><p>对比mysql数据一致性</p></div></a></div>
		<div class="col-md-3 card bg-success  text-dark bg-opacity-50" style="margin:1px"><a href="#qr-code" class="text-white"><div class="card-body"><h4>TPCC</h4><p>可选tpcc-mysql或者benchmarksql</p></div></a></div>
	</div>

	</br>
	</br>
	<h3>操作系统类</h3>
	<div class="row">
		<div class="col-md-3 card bg-dark text-white bg-opacity-75" style="margin:1px"><a href="#qr-code" class="text-white"><div class="card-body"><h4>主机巡检</h4><p>仅支持巡检主机列表里的</p></div></a></div>
		<div class="col-md-3 card bg-dark text-white bg-opacity-75" style="margin:1px"><a href="#qr-code" class="text-white"><div class="card-body"><h4>CPU压测</h4><p>使用sysbench压测cpu</p></div></a></div>
		<div class="col-md-3 card bg-dark text-white bg-opacity-75" style="margin:1px"><a href="#qr-code" class="text-white"><div class="card-body"><h4>内存压测</h4><p>使用sysbench压测内存</p></div></a></div>
		<div class="col-md-3 card bg-dark text-white bg-opacity-75" style="margin:1px"><a href="#qr-code" class="text-white"><div class="card-body"><h4>IO压测</h4><p>使用sysbench压测IO</p></div></a></div>
		<div class="col-md-3 card bg-dark text-white bg-opacity-75" style="margin:1px"><a href="#qr-code" class="text-white"><div class="card-body"><h4>OPENSSH升级</h4><p>升级openssh, 采用编译安装openssh, 升级前会先启一个ssh服务作为意外情况的时候连上去</p></div></a></div>
	</div>

	</br>
	</br>
	<h3>其它类</h3>
	<div class="row">
		<div class="col-md-3 card bg-secondary text-white" style="margin:1px"><a href="#qr-code" class="text-white"><div class="card-body"><h4>生成随机密码</h4><p>生成任意长度的字符串</p></div></a></div>
		<div class="col-md-3 card bg-secondary text-white" style="margin:1px"><a href="#qr-code" class="text-white"><div class="card-body"><h4>base64加密/解密</h4><p>对字符串做base64加密或者解密</p></div></a></div>
		<div class="col-md-3 card bg-secondary text-white" style="margin:1px"><a href="#qr-code" class="text-white"><div class="card-body"><h4>生成UUID</h4><p>生成随机的UUID</p></div></a></div>
		<div class="col-md-3 card bg-secondary text-white" style="margin:1px"><a data-bs-toggle="modal" href="#qrcode1" class="text-white"><div class="card-body"><h4>生成二维码</h4><p>仅支持QR-CODE</p></div></a></div>
		<div class="col-md-3 card bg-secondary text-white" style="margin:1px"><a href="#qr-code" class="text-white"><div class="card-body"><h4>网段/端口扫描</h4><p>利用icmp探测某网段存活IP</p></div></a></div>
	</div>
    </div>


    <div id="install1" class="container tab-pane fade"><br>
	<div><ul><li><h3>部署安装</h3></li><li><a href="#upload_script" data-bs-toggle="modal">上传脚本</a></li><li><a href="#upload_pack" data-bs-toggle="modal">上传软件包</a></li></ul></div>
      <p class="text-secondary">TIPS: 部署进度可在任务管理处看</p>
	<div class="row">
		<div class="col-md-3 card bg-info text-white"><a href="/install?html=install_mysql_single.html" class="text-white"><div class="card-body"><h4>部署单机MYSQL</h4><p>支持mysql官方版本5.7, 8.0</p></div></a></div>
		<div class="col-md-3 card bg-info text-white"><a href="#qr-code" class="text-white"><div class="card-body"><h4>部署主从MYSQL</h4><p>支持mysql官方版本5.7, 8.0, 若mysql实例未安装,会自动安装</p></div></a></div>
		<div class="col-md-3 card bg-info text-white"><a href="#qr-code" class="text-white"><div class="card-body"><h4>部署单机REDIS</h4><p>支持redis5.0 6.0</p></div></a></div>
		<div class="col-md-3 card bg-info text-white"><a href="#qr-code" class="text-white"><div class="card-body"><h4>部署单机REDIS集群</h4><p>支持redis5.0 6.0</p></div></a></div>
		<div class="col-md-3 card bg-info text-white"><a href="#qr-code" class="text-white"><div class="card-body"><h4>部署单机ORACLE</h4><p>支持oracle 19c</p></div></a></div>
		<div class="col-md-3 card bg-info text-white"><a href="#qr-code" class="text-white"><div class="card-body"><h4>安装单机kafka</h4><p>安装kafka</p></div></a></div>
		<div class="col-md-3 card bg-info text-white"><a href="#qr-code" class="text-white"><div class="card-body"><h4>安装单机pg</h4><p>安装pg</p></div></a></div>
		<div class="col-md-3 card bg-info text-white"><a href="#qr-code" class="text-white"><div class="card-body"><h4>安装php</h4><p>安装php</p></div></a></div>
		<div class="col-md-3 card bg-info text-white"><a href="#qr-code" class="text-white"><div class="card-body"><h4>安装nginx</h4><p>安装nginx</p></div></a></div>
		<div class="col-md-3 card bg-info text-white"><a href="#qr-code" class="text-white"><div class="card-body"><h4>安装zabbix</h4><p>安装zabbix</p></div></a></div>
		<div class="col-md-3 card bg-info text-white"><a href="#qr-code" class="text-white"><div class="card-body"><h4>运行自定义脚本</h4><p>支持自定义脚本运行</p></div></a></div>
		
	</div>
    </div>


    <div id="task1" class="container tab-pane fade"><br>
	<h3>任务</h3>
	<div><ul></li><li><a data-bs-toggle="modal" href="#deltask">删除任务</a></li></ul></div>
<table class="table table-striped">
    <thead>
      <tr>
        <th>任务名</th>
	<th>任务对象</th>
        <th>任务描述</th>
	<th>任务起止时间</th>
        <th>任务状态</th>
	<th>操作</th>
      </tr>
    </thead>
    <tbody>
{% for task in task_list %}
      <tr id="{{task[0]}}">
        <td>{{task[0]}}</td>
	<td>{{task[1]}}</td>
        <td>{{task[2]}}</td>
        <td>{{task[3]}} -- {{task[4]}}</td>
	{% if task[6] == 0 %}
	<td><p class="text-success">已完成</p></td>
	{% elif task[6] == 2 %}
	<td><p class="text-danger">执行失败</p></td>
	{% elif task[6] == 1 %}
		<td><p class="text-primary">执行中</p></td>
	{% else %}
		<td><p class="text-secondary">未知状态</p></td>
	{%endif%}
	<td><a href="/task_detail?task_file={{task[5]}}&task_name={{task[0]}}" target="view_window">详情</a> <a href="/download?task_file={{task[5]}}">下载</a> <button type="button" class="btn btn-danger" onclick="delete_task('{{task[0]}}')">删除</button> </td>
      </tr>
{% else %}
	无任务
{% endfor %}
    </tbody>
  </table>
    </div>

<div class="modal" id="deltask">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">删除数据库实例</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
                <div id="ckt" align="left">
            <input type="checkbox" onclick="ckt('true')" id="qxt"><span onclick="ckt(1)">全选</span>
            <input type="checkbox" onclick="ckt('false')" id="qbxt"><span onclick="ckt(0)">全不选</span>
        </div>
         <form action = "/deltask" method = "post">
<p>请选择要删除的任务(仅删除ei配置,并不是物理上删除主机)</p>
        {% for task_name in task_list %}
        <input type="checkbox" name="del_task_1" value="{{task_name[0]}}">{{task_name[0]}}</br>
        {% else %}
        <p>无实例</>
        {% endfor %}
         <p><input type = "submit" value = "确认删除" /></p>
      </form>

      </div>

      <!-- 模态框底部 -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">关闭</button>
      </div>

    </div>
  </div>
</div>



    <div id="set1" class="container tab-pane fade"><br>
      <h3>设置</h3>
     <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal"> 修改密码 </button>
<p class="text-info">项目地址: <a href="https://www.github.com/ddcw/ei" >https://www.github.com/ddcw/ei</a></p>
<div class="container mt-3"> 
<button id="button_get_script_info" type="button" class="btn btn-primary" onclick="get_script_info()">显示脚本</button>
<button id="button_get_pack_info" type="button" class="btn btn-info" onclick="get_pack_info()">显示软件包</button>
<div id="script_info" style="display:none">
	<table class="table">
  <thead>
    <tr>
      <th scope="col">脚本ID</th>
      <th scope="col">脚本名字(功能名字)</th>
      <th scope="col">脚本对象</th>
      <th scope="col">脚本类型</th>
      <th scope="col">脚本路径</th>
      <th scope="col">脚本版本</th>
      <th scope="col">脚本描述</th>
      <th scope="col">脚本将要拷贝到的目标端目录</th>
      <th scope="col">MD5校验码</th>
      <th scope="col">脚本状态</th>
      <th scope="col">操作</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>
<div id="pack_info" style="display:none"></div>
</div>
    </div>


<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- 模态框头部 -->
      <div class="modal-header">
        <h4 class="modal-title">修改密码</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- 模态框内容 -->
      <div class="modal-body">
	 <form action = "/modifypassword" method = "post">
         <p>Enter Name:</p>
         <p>原密码:<input type = "password" name = "password_old" /></p>
         <p>新密码:<input type = "password" name = "password_new" /></p>
         <p><input type = "submit" value = "确认修改" /></p>
      </form>

      </div>

      <!-- 模态框底部 -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">关闭</button>
      </div>

    </div>
  </div>
</div>


  </div>
</div>









<!-- 二维码 模态框 -->
<div class="modal" id="qrcode1">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- 模态框头部 -->
      <div class="modal-header">
        <h4 class="modal-title">生成二维码</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- 模态框内容 -->
      <div class="modal-body">

  <div class="mb-3">
    <label for="qrcode_value" class="form-label">请输入二维码的内容</label>
    <input type="email" class="form-control" id="qrcode_value" value="https://www.itddcw.com">
  </div>
<div id="qrcode_div" style="width:160px;height:160px;margin-top:15px;"></div>

      </div>

      <!-- 模态框底部 -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="getQRCODE()" >生成</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">关闭</button>
      </div>

<script type="text/javascript"> 
	function getQRCODE(){
document.getElementById('qrcode_div').innerHTML=""
var qrcode = new QRCode("qrcode_div", {
    text: document.getElementById('qrcode_value').value,
    width: 128,
    height: 128,
    colorDark : "#000000",
    colorLight : "#ffffff",
});
}
</script>

    </div>
  </div>
</div>










<!-- 上传脚本 -->
<!-- 模态框 -->
<div class="modal" id="upload_script">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- 模态框头部 -->
      <div class="modal-header">
        <h4 class="modal-title">上传脚本</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- 模态框内容 -->
      <div class="modal-body">
<form id="upload_script1" method="post" action="/upload?type=script&evt_name=ei-index-{{username}}-alert-only" enctype="multipart/form-data">
    <div>
        <input id="myfilebyei_script" type="file" name="myfilebyei"/></br></br>
	脚本名字(可忽略)
	<select class="input-xlarge valtype" data-valtype="option" name="script_name">
                          <option>CUSTOMIZE</option>
                          <option>INSTALL_MYSQL_SINGLE</option>
                          <option>INSTALL_REDIS_SINGLE</option>
                          <option>INSTALL_ZK_SINGLE</option>
	</select>
	</br>脚本对象(可忽略)
	<select class="input-xlarge valtype" data-valtype="option" name="script_object">
                          <option>CUSTOMIZE</option>
                          <option>MYSQL</option>
                          <option>POSTGRESQL</option>
                          <option>ORACLE</option>
                          <option>REDIS</option>
                          <option>MONGODB</option>
	</select></br></br>
        <input type="submit" class="btn btn-primary" value="上传"></input>
	<input type="text" name="type_table" value="script" style="display:none">
	<input type="text" name="evt_name" value="ei-index-{{username}}-alert-only" style="display:none">
    </div>
</form>
      </div>

      <!-- 模态框底部 -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">关闭</button>
      </div>

    </div>
  </div>
</div>





<!-- 上传软件包  -->
<!-- 模态框 -->
<div class="modal" id="upload_pack">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- 模态框头部 -->
      <div class="modal-header">
        <h4 class="modal-title">上传软件包</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- 模态框内容 -->
      <div class="modal-body">

<form id="upload_pack1" method="post" action="/upload" enctype="multipart/form-data">
    <div>
        <input id="myfilebyei_pack" type="file" name="myfilebyei2"/></br></br>
        </br>软件包名字(可忽略)
        <select class="input-xlarge valtype" data-valtype="option" name="pack_name">
                          <option>CUSTOMIZE</option>
                          <option>MYSQL</option>
                          <option>POSTGRESQL</option>
                          <option>ORACLE</option>
                          <option>REDIS</option>
                          <option>MONGODB</option>
        </select></br></br>
	软件包版本(可忽略)
	<input type="text" name="pack_version" value="">
        <input type="submit" class="btn btn-primary" value="上传"></input>
        <input type="text" name="type_table" value="pack" style="display:none">
        <input type="text" name="evt_name" value="ei-index-{{username}}-alert-only" style="display:none">
    </div>
</form>

      </div>

      <!-- 模态框底部 -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">关闭</button>
      </div>

    </div>
  </div>
</div>



<footer hidden>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p align="center"> 
                     ^_^ 
                </p>
            </div>
        </div>
    </div>
</footer>


</body>
</html>
