<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>任务详情--{{task_name}}</title>
    <link rel="stylesheet" href="/static/bootstrap-5.1.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index1.css">
    <script type="text/javascript" src="/static/bootstrap-5.1.3-dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/jquery-3.1.1/jquery-3.1.1.min.js"></script>
    <script src="/static/js/socket.io.min.js" ></script>
</head>
<body>


<script type="text/javascript" charset="utf-8">
    var socket = io();

    //服务端的emit可以在任意函数触发 connect是特殊事件, 连接的时候就触发,   还有个断开的时候触发 disconnect
    socket.on('connect', function() {
        socket.emit('message',  'I\'m connected! i am install mysql single, from {{username}}');
	socket.emit('returntaskdetail',{"task_name":"{{task_name}}","evtname":"task{{username}}{{task_name}}","evtnameerror":"task{{username}}{{task_name}}error","taskfile":"{{task_file}}"});
    });

    socket.on('disconnect', function() {
        socket.emit('message', '{{username}} leaved');
    });

socket.on('task{{username}}{{task_name}}',function(msg){
	//document.getElementById("textarea1").value = document.getElementById("textarea1").value + msg
	document.getElementById("textarea1").value =  msg
	setTimeout(function(){
		socket.emit('returntaskdetail',{"task_name":"{{task_name}}","evtname":"task{{username}}{{task_name}}","evtnameerror":"task{{username}}{{task_name}}error","taskfile":"{{task_file}}"});
	},3000)
});
socket.on('task{{username}}{{task_name}}error',function(msg){
	alert(msg);
});


	function clearlog(){
	document.getElementById("textarea1").value = ""
}

   //my_response是事件名字, 客户端监听这个事件, 服务端发送消息给这个事件,这个事件再处理消息 emit('my_response','aaaaaaaa')
   //实时交互原理: 客户端 定时发送消息给服务端, 服务端返回消息给客户端,  客户端收到消息,触发定时给服务端发消息.
//   socket.on('my_response',function(msg) {
//	//socket.emit('message', {data: 'send data OK !!!!!!!'});
//	document.getElementById("terminal").innerHTML = msg
//	//$("#t").append(msg).append('<br/>');
//	setTimeout(function(){
//		socket.emit('message', {data: '给老子当前返回时间'});
//},1000)
//	//alert(msg);
//});

   //这个监控事件,需要收到服务器的消息才能触发, 也就是直接在这里面 给服务器发消息是没用的, 因为不会触发, 可以在连接的时候, 触发服务器的其它事件, 其它事件返回消息给这个事件
//   socket.on('once_resp',function(msg) {
//	//socket.emit('once1', 'i am once');
//	//document.getElementById("t").innerHTML = msg;
//	$("#t").append(msg).append('<br/>');
//});




</script>



<div class="container mt-3">
<!-- <button type="button" class="btn" onclick="begintest()">开始</button> -->
<p class="text-primary">任务名:</p> <h5>{{task_name}}</h5>
</div>
<button type="button" class="btn  btn-info" onclick="clearlog()">清空日志</button>
<div><textarea readonly rows="10" cols="200" id="textarea1"></textarea></div>
</body>
</html>

