[mysql]
prompt=(\\u@\\h) [\\d]>\\_

[mysqld_safe]
user=mysql
core-file-size=unlimited
open-files-limit=123456


[mysqld]
user=mysql
bind_address=0.0.0.0
port=3308

basedir=${MYSQL_BASEDIR}
datadir=${MYSQL_DATADIR2}
socket=${MYSQL_RUNDIR}/mysql.sock
pid_file=${MYSQL_RUNDIR}/mysql.pid

character-set-server=utf8
collation-server=utf8_general_ci

server_id=414003308

default_storage_engine=INNODB
disabled_storage_engines="FEDERATED"

max_allowed_packet=1073741824
max_connections=10240
max_user_connections=0
max_connect_errors=2000
table_open_cache=10240
open_files_limit=123456

join_buffer_size=2097152
sort_buffer_size=2097152
skip_name_resolve=OFF


tmpdir=/data/mysql_3308/mysqllog/tmp
log_error=/data/mysql_3308/mysqllog/dblogs/mysql3308.err
#log_error=mysql3308.err2
slow_query_log=ON
slow_query_log_file=/data/mysql_3308/mysqllog/dblogs/slow3308.log
long_query_time=1

general_log=OFF
general_log_file=/data/mysql_3308/mysqllog/dblogs/general3308.log

expire_logs_days=15



#===============binlog设置===============#
binlog_format=ROW
log_bin=/data/mysql_3308/mysqllog/binlog/m3308
#log_bin=ON
#log_bin_basename=/data/mysql_3308/mysqllog/binlog/m3308
sync_binlog=1
max_binlog_size=1073741824

#=============innodb===================#
innodb_log_group_home_dir=${MYSQL_LOGDIR}/redolog
innodb_log_files_in_group=4
innodb_log_file_size=1073741824
innodb_log_buffer_size=67108864
innodb_log_write_ahead_size=8192
innodb_data_home_dir=${MYSQL_DATADIR3}  #innodb系统表空间文件目录
innodb_temp_data_file_path="ibtmp1:50M:autoextend:max:30G"
innodb_open_files=40960
innodb_page_size=16384
innodb_default_row_format=DYNAMIC
innodb_file_per_table=ON

#innodb_buffer_pool_size=134217728
innodb_buffer_pool_size=${MYSQL_INNODB_MEM}
innodb_buffer_pool_instances=1 #每个instances内存不能小于128M 134217728

innodb_doublewrite=ON
innodb_fill_factor=70

#SSD盘建议0   HDD建议1    8.0默认0   5.7默认1   
innodb_flush_neighbors=0  #0刷新的时候不刷邻居  1(默认): 刷新相同范围内的连续脏页 2:范围比1广
innodb_io_capacity=10000  #可以设置为实际测出来的值 机械盘建议低于2500  固态盘建议高于2500
innodb_io_capacity_max=20000  #2倍innodb_io_capacity

innodb_lock_wait_timeout=50 #单位秒
innodb_lru_scan_depth=1024

innodb_read_only=off

#当变化的页数量达到20页时, 收集统计信息 默认20 建议20 若表数据量非常大, 可以增加这个值
innodb_stats_persistent_sample_pages=20
#指定InnoDB索引统计信息是否持久保存到磁盘 默认ON
innodb_stats_persistent=ON

innodb_thread_concurrency=64


#===============事务================#
transaction_isolation=REPEATABLE-READ
#tx_read_only=OFF

innodb_flush_log_at_trx_commit=1
innodb_flush_log_at_timeout=1

binlog_gtid_simple_recovery=on


#=======================主从====================#
relay_log_info_file="relay-log.info"
relay_log=${MYSQL_LOGDIR}/relay/relay.log
max_relay_log_size=104857600  #100M  默认0无限制
relay_log_info_repository=table
master_info_repository="TABLE"
relay_log_purge=on


#=============gtid=================#
gtid_mode=ON
enforce_gtid_consistency=on
#gtid_next=AUTOMATIC

#==========performance_schema=====#
performance_schema=ON

