{% extends 'base.html' %}

{% block header %} <h1>ddcw-ei</h1> {% endblock %}

{% block content %}
<div id='tool'>
<p>不想写了. 感兴趣的可以参考我之前写的...</p>
<p>巡检:<a href='https://github.com/ddcw/inspection'>https://github.com/ddcw/inspection</a></p>
<p>压测MYSQL(no stmt): <a href='https://github.com/ddcw/ddcw/tree/master/python/mysql%E5%8E%8B%E6%B5%8B'>https://github.com/ddcw/ddcw/tree/master/python/mysql%E5%8E%8B%E6%B5%8B</a></p>
<p>数据同步(要kafka):<a href='https://github.com/ddcw/ddcw/tree/master/python/%E6%95%B0%E6%8D%AE%E5%90%8C%E6%AD%A5'>https://github.com/ddcw/ddcw/tree/master/python/%E6%95%B0%E6%8D%AE%E5%90%8C%E6%AD%A5</a></p>
<p>innodb status(没得图形展示..):<a href='https://github.com/ddcw/innodb_status'>https://github.com/ddcw/innodb_status</a></p>
<p>mysql导出命令生成(纯js):<a href='https://github.com/ddcw/ddcw/blob/master/html/GetImportExportCommand.html'>https://github.com/ddcw/ddcw/blob/master/html/GetImportExportCommand.html</a></p>
</div>
{% endblock %}

{% block whichcontent %}tool{% endblock %}

