<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
<body>
<div id="dbtype" style="text-align: center; font-size: 20;">
<select>
    <option value="MYSQL">
        MYSQL
    </option>
    <option value="ORACLE">
        ORACLE
    </option>
    <option value="POSTGRESQL">
        POSTGRESQL
    </option>
</select>
</div>

<div id="hsot-info">
    <label for="host" class="form-label">主机地址</label>
    <input type="text" name="host" id="host"  value="127.0.0.1" >
    <label for="port" class="form-label">端口</label>
    <input type="number" name="port"  min="1024" max="65535" id="port" value="3306" >
</div>

<div id="db-info">
    <label for="username" class="form-label">用户名</label>
    <input type="text" name="username"  id="username" value="test" >
    <label for="password" class="form-label">密码</label>
    <input type="password" name="password"  id="password" value="123456" >
</div>
</br>
<div id="parameters">
    <form>
        <select>
            <option>
                全库
            </option>
            <option>
                指定数据库
            </option>
            <option>
                全表
            </option>
            <option>
                指定表
            </option>
        </select>
    </form>
</div>
</br>

<div id="result">
    导出语句<textarea>

    </textarea></br>

   导入语句<textarea>

    </textarea>
</div>

</body>
</head>
</html>
